.friendListItem {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  background-color: white;
  padding: 0;
  list-style: none;
  border-radius: 5px;
}

.avatar {
  padding: 10px;
}

.name {
  font-size: 30px;
}

.isOnline {
  background-color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 30px;
}

.isOffline {
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 30px;
}
